{% extends "layout.html.j2" %}
{% block title %}
{{ descriptors[0] }} - DEA model
{% endblock title %}
{% block scripts %}
    {% include "charts/px_script.html.j2" %}
{% endblock scripts %}
{% block content %}
    <form method="GET" action="{{ url_for('general.dea') }}">
        <input type="hidden" id="path" name="path" value="{{ descriptors[6] }}""> 
        <label for="x">Plot on x-axis:</label>
        <select name="x" id="x" required>
            <optgroup label="Inputs">
            {% for optgroup in descriptors[1] %}
                <option value={{optgroup[0]}} {% if optgroup[0]|string() == descriptors[4]|string() %} selected {% endif %}>{{optgroup[1]}}</option>
            {% endfor %}
            </optgroup>
            <optgroup label="Outputs">
            {% for optgroup in descriptors[2] %}
                <option value={{optgroup[0]}} {% if optgroup[0]|string() == descriptors[4]|string() %} selected {% endif %}>{{optgroup[1]}}</option>
            {% endfor %}
            </optgroup>
            <optgroup label="Results">
            {% for optgroup in descriptors[3] %}
                <option value={{optgroup[0]}} {% if optgroup[0]|string() == descriptors[4]|string() %} selected {% endif %}>{{optgroup[1]}}</option>
            {% endfor %}
            </optgroup>
        </select><br>
        <label for="y">Plot on y-axis:</label>
        <select name="y" id="y" required>
            <optgroup label="Inputs">
            {% for optgroup in descriptors[1] %}
                <option value={{optgroup[0]}} {% if optgroup[0]|string() == descriptors[5]|string() %} selected {% endif %}>{{optgroup[1]}}</option>
            {% endfor %}
            </optgroup>
            <optgroup label="Outputs">
            {% for optgroup in descriptors[2] %}
                <option value={{optgroup[0]}} {% if optgroup[0]|string() == descriptors[5]|string() %} selected {% endif %}>{{optgroup[1]}}</option>
            {% endfor %}
            </optgroup>
            <optgroup label="Results">
            {% for optgroup in descriptors[3] %}
                <option value={{optgroup[0]}} {% if optgroup[0]|string() == descriptors[5]|string() %} selected {% endif %}>{{optgroup[1]}}</option>
            {% endfor %}
            </optgroup>
        </select><br>
        <label for="x_scale"> Use log scale on x-axis</label>
        <input type="checkbox" id="x_scale" name="x_scale" value="True" {% if "True"|string() == descriptors[7]|string() %} checked {% endif%}><br>
        <label for="y_scale"> Use log scale on y-axis</label>
        <input type="checkbox" id="y_scale" name="y_scale" value="True" {% if "True"|string() == descriptors[8]|string() %} checked {% endif%}><br>
        <input type="submit" value="Submit">
    </form>
    <form method="GET" action="{{ url_for('general.dea') }}">
        <input type="hidden" id="path" name="path" value="{{ descriptors[6] }}""> 
        <input type="hidden" id="x" name="x" value="{{ descriptors[5] }}""> 
        <input type="hidden" id="y" name="y" value="{{ descriptors[4] }}""> 
        <input type="hidden" id="x_scale" name="x_scale" value="{{ descriptors[8] }}""> 
        <input type="hidden" id="y_scale" name="y_scale" value="{{ descriptors[7] }}""> 
        <button name="submit" value="submit" type="submit">Flip axis</button>
    </form>
    {% with name=wats[0], var_name=wats[1], JSONdata=wats[2]%}
        {% include "charts/div_px.html.j2" %}
    {% endwith %}
    {% with name=wats2[0], var_name=wats2[1], JSONdata=wats2[2]%}
        {% include "charts/div_px.html.j2" %}
    {% endwith %}


{% endblock content %}
